<!DOCTYPE html>
<html>
    <head>
        <title>Alpha - Tests</title>
        <meta charset="ISO-8859-1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
              <div class="header">                
                <h3 class="text-muted">Alpha - Tests</h3>
            </div>
            <table class="table table-striped">
                <th>Name</th>
                <th>Status</th>
                <th>Message</th>
                @{foreach test}
                    <tr>
                        <td>@{name}</td>
                        <td @{[status=OK]}class="success"@{/[status=OK]} @{[status!OK]}class="danger"@{/[status!OK]} >@{status}</td>
                        <td>@{message}</td>
                    </tr>                    
                @{/foreach test}
            </table>
        </div>
    </body>
</html>
