<!DOCTYPE html>
<html>
    <head>
        <title>getSearch Example</title>
        <meta charset="ISO-8859-1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>@{title}</h1>
        <div>This is an Example for getSearch view with placeholders.</div>
        <table>
            <th>name</th>
            <th>age</th>
            <tr>
                <td>@{user.name}</td>
                <td>@{user.age}</td>
            </tr>
        </table>
    </body>
</html>
