@uses("/tests/layout.html")

@section(content)
    <div class="header">                
        <h3 class="text-muted">Alpha - @string(tests)</h3>
    </div>

    @foreach(testcase)
        <h3>@(name)</h3>
        <table class="table table-striped">
            <th>@string(name)</th>
            <th>@string(status)</th>
            <th>@string(message)</th>
                @foreach(test)
                    <tr>
                        <td>@(name)</td>
                        <td @([status=OK])class="success"@/([status=OK]) @([status!OK])class="danger"@/([status!OK]) >@string(@(status))</td>
                        <td>@(message)</td>
                    </tr>                    
                @/foreach(test)
        </table>
    @/foreach(testcase)            
@/section(content)
